img {
  width: 56px;
  height: 56px;

  background: url(.png);
}

.tasksWrapper {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  gap: 16px;

  width: 736px;
  height: 244px;
}
